﻿@{
    ViewBag.Title = "nganhangngoaithuong.com";
}
<body class="trang_chu">
    <div id="dhtmlwindowholder">
        <span style="display:none">.</span>
    </div>
    <link href="~/Content/fontawesome-all.min.css" type="text/css" rel="stylesheet" />
    
    <div class="div_body" id="div_body_1" style="width:100%; display:inline-table">
        <div id="div_body_noidung">
            <div id="tren_khungchinh">
                <div id="tren_khungchinh_inner_div">
                </div>
            </div>
            <div id="main_panel">
                <div id="vitri_tren">
                    <div>
                        <div class="bocuc" id="bocuc_14">
                            <div class="page_slide" align="center">
                                <div class="theme-default">
                                    <div id="nivoSliderpage" class="nivoSlider">
                                        <img src="~/Content/Image/4.jpg" data-thumb="/Content/Image/4.jpg" alt="Ngân Hàng TMCP Ngoại Thương Vietcombank"
                                             title="Ngân Hàng TMCP Ngoại Thương Vietcombank" style="display: inline; visibility: hidden; width: 1050px;" />
                                        <img class="nivo-main-image" src="~/Content/Image/4.jpg" style="display: inline; width: 1050px; height: auto;" />
                                        <div class="nivo-caption" style="display: block;">Ngân Hàng TMCP Ngoại Thương Vietcombank</div>
                                        <div class="nivo-directionNav">
                                            <a class="nivo-prevNav">Prev</a>
                                            <a class="nivo-nextNav">Next</a>
                                        </div>
                                    </div>
                                    <div class="nivo-controlNav">
                                        <a class="nivo-control active" rel="0">1</a>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $('#nivoSliderpage').nivoSlider({
                                        'pauseTime': 3000
                                    });

                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="main_panel_margin">
                    <div id="container3">
                        <div id="container2">
                            <div id="container1">
                                <div id="cot_trai">
                                    <div id="cot_trai_inner_div">
                                    </div>
                                </div>
                                <div id="cot_giua">
                                    <div id="cot_giua_inner_div">
                                        <div>
                                            <div class="boxgiua_wrap">
                                                <div class="header_layer_1">
                                                    <div class="header_layer_2">
                                                        <div class="header">
                                                            <span>
                                                                <label>DANH MỤC GÓI VAY CÁ NHÂN</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box_content_layer_l">
                                                    <div class="box_content_layer_2">
                                                        <div class="boxgiua">
                                                            <div class="boxgiua_lop1">
                                                                <div class="boxgiua_lop2">
                                                                    <table style="width: 1070px; height: 190px;" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" width="10">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                    </span>
                                                                                </td>
                                                                                <td align="center">
                                                                                    @*<a href="http://nganhangngoaithuong.com/bvct/chi-tiet/5/.html">*@
                                                                                    <a href="@Url.Action("VayVonBangLuong", "Home")">
                                                                                        <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                            <img style="float: none;" src="~/Content/Image/a1.png" alt="" width="311" height="262" />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center" width="10">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                    </span>
                                                                                </td>
                                                                                <td align="center">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                    </span>
                                                                                </td>
                                                                                <td align="center">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/6/.html">
                                                                                        <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                            <img style="float: none;" src="~/Content/Image/a2.png" alt="" width="311" height="262" />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center" width="10">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                    </span>
                                                                                </td>
                                                                                <td align="center">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                    </span>
                                                                                </td>
                                                                                <td align="center">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/8/.html">
                                                                                        <span style="font-size: small; font-family: arial, helvetica, sans-serif;">
                                                                                            <img style="float: none;" src="~/Content/Image/a8.png" alt="" width="311" height="262 /&gt;&lt;/span&gt;&lt;/a&gt;&lt;/td&gt;
                                                                  &lt;td=&lt;td align=" center=center
                                                                                                 ="=" =" /><span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td rowspan="2 " valign="top " width="20
                                                               ">
                                                                                    <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif; "></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br />
                                                                    <br />
                                                                    <br />
                                                                    <table style="width: 1030px; height: 190px;
                                                      " border="0 " cellspacing="0
                                                      " cellpadding="0 ">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center " width="10
                                                               ">
                                                                                    <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/9/.html
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="/Content/Image/a5.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center " width="10
                                                               ">
                                                                                    <span style="font-size: small; font-family: arial, helvetica, sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/13/.html
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="~/Content/Image/a4.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/10/.html
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="~/Content/Image/a3.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <br />
                                                                    <br />
                                                                    <table style="width: 1030px; height: 190px;
                                                      " border="0 " cellspacing="0
                                                      " cellpadding="0 ">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center " width="10
                                                               ">
                                                                                    <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/11/.html
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="~/Content/Image/a9.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center " width="10
                                                               ">
                                                                                    <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="~/Content/Image/a7.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/7/.html
                                                                  ">
                                                                                        <span style="font-size: small; font-family:
                                                                  arial, helvetica, sans-serif;
                                                                  ">
                                                                                            <img style="float: none; " src="~/Content/Image/a6.png" alt=" =" width="311 " height="262 " />
                                                                                        </span>
                                                                                    </a>
                                                                                </td>
                                                                                <td align="center ">
                                                                                    <span style="font-size:
                                                                  small; font-family: arial, helvetica,
                                                                  sans-serif; "></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer_layer_l ">
                                                    <div class="footer_layer_2">
                                                        <div class="boxgiua_chan "><span><label></label></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="mystickytooltip " class="stickytooltip ">
                                            <div style="padding:5px ">
                                            </div>
                                            <div class="stickystatus "></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cot_phai ">
                                    <div id="cot_phai_inner_div ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="common_echo " style="top: 0px; "></div>
        <div style="display:none " id="fixloi "></div>
        <div align="right " style="width: 100px; overflow: hidden; position: absolute; display: none; left: -105px; top:
         0px; " id="divAdLeft
         " hidden=" =" msh6xt2=" =">
        </div>
        <div style="width: 100px; position: absolute; display: none; left: -105px; top: 0px; " id="divAdRight
         " hidden=" =" msh6xt2=" =">
        </div>
        <div id="divFixLeft " style="position: fixed; bottom: 5px; left: 5px; z-index: 999; display: none; ">
        </div>
        <div id="divFixRight " style="position: fixed; bottom: 5px; right: 5px; z-index: 999; display: none; ">
        </div>
        <script language="javascript ">
            var adswidth = 100;
            var adstop = 100;
            var bodywidth = 950;
        </script>
        <script type="text/javascript ">
            $(document).ready(function () {
                $("img.lazy ").unveil();
            });
            ShowAdDiv();

        </script>
        <script language="javascript ">
            if (document.body.clientWidth <= (1050 + 100)) {
                document.getElementById('divFixLeft').style.display = "none ";
                document.getElementById('divFixRight').style.display = "none ";
            }
            if ($.cookie('congtacvien') != null && $.cookie('congtacvien') != '') {
                LoadXmlDoc('modules/gianhang_thanhvien/loadcongtacvien.php?id=' + $.cookie('congtacvien'));
            }
        </script>
        <script type="text/javascript ">
            function nocontext(e) {
                var clickedTag = (e == null) ? event.srcElement.tagName : e.target.tagName;
                if (clickedTag == "IMG ") {
                    return false;
                }
            }
            document.oncontextmenu = nocontext;

        </script>
        <style>
            body {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>
    </div>
    <div id="hintbox "></div>
    <div class="highslide-container " style="padding: 0px; border: none; margin: 0px; position:
      absolute; left: 0px; top: 0px;
      width: 100%; z-index: 1001; direction:
      ltr; ">
        <a class="highslide-loading
         " title="Click to cancel " href="javascript:;
         " style="position: absolute; top: -9999px;
         opacity: 0.75; z-index: 1;
         ">Loading...</a>
        <div style="display: none;
         "></div>
        <div class="highslide-viewport highslide-viewport-size
         " style="padding: 0px; border: none;
         margin: 0px; visibility: hidden;
         "></div>
        <table cellspacing="0 " style="padding: 0px; border:
         none; margin: 0px; visibility:
         hidden; position: absolute; border-collapse:
         collapse; width: 0px;
         ">
            <tbody style="padding: 0px; border: none;
            margin: 0px; ">
                <tr style="padding:
               0px; border: none; margin: 0px;
               height: auto; ">
                    <td style="padding:
                  0px; border: none; margin: 0px;
                  line-height: 0; font-size: 0px;
                  background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  0px 0px; height: 20px; width:
                  20px; "></td>
                    <td style="padding:
                  0px; border: none; margin: 0px;
                  line-height: 0; font-size: 0px;
                  background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  0px -40px; height: 20px; width:
                  20px; "></td>
                    <td style="padding:
                  0px; border: none; margin: 0px;
                  line-height: 0; font-size: 0px;
                  background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  -20px 0px; height: 20px; width:
                  20px; "></td>
                </tr>
                <tr style="padding:
               0px; border: none; margin: 0px;
               height: auto; ">
                    <td style="padding:
                  0px; border: none; margin: 0px;
                  line-height: 0; font-size: 0px;
                  background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  0px -80px; height: 20px; width:
                  20px; "></td>
                    <td class="glossy-dark
                  highslide-outline " style="padding:
                  0px; border: none; margin: 0px;
                  position: relative;
                  "></td>
                    <td style="padding: 0px; border: none;
                  margin: 0px; line-height: 0;
                  font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  -20px -80px; height: 20px; width:
                  20px; "></td>
                </tr>
                <tr style="padding:
               0px; border: none; margin: 0px;
               height: auto; ">
                    <td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -20px; height: 20px; width: 20px; "></td>
                    <td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -60px; height: 20px; width: 20px; "></td>
                    <td style="padding:
                  0px; border: none; margin: 0px;
                  line-height: 0; font-size: 0px;
                  background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;)
                  -20px -20px; height: 20px; width:
                  20px; "></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>