﻿
@{
    ViewBag.Title = "VAY VỐN NGÂN HÀNG THEO BẢNG LƯƠNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style type="text/css">
        /*
         * contextMenu.js v 1.4.0
         * Author: Sudhanshu Yadav
         * s-yadav.github.com
         * Copyright (c) 2013 Sudhanshu Yadav.
         * Dual licensed under the MIT and GPL licenses
        **/

        .iw-contextMenu {
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
            border: 1px solid #c8c7cc;
            border-radius: 11px;
            display: none;
            z-index: 1000000132;
            max-width: 300px;
        }

        .iw-cm-menu {
            background: #fff;
            color: #000;
            margin: 0px;
            padding: 0px;
        }

        .iw-curMenu {
        }

        .iw-cm-menu li {
            font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif;
            list-style: none;
            padding: 10px;
            padding-right: 20px;
            border-bottom: 1px solid #c8c7cc;
            cursor: pointer;
            position: relative;
            font-size: 14px;
            margin: 0;
            line-height: inherit;
        }

            .iw-cm-menu li:first-child {
                border-top-left-radius: 11px;
                border-top-right-radius: 11px;
            }

            .iw-cm-menu li:last-child {
                border-bottom-left-radius: 11px;
                border-bottom-right-radius: 11px;
                border-bottom: none;
            }

        .iw-mOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: #FFF;
            opacity: .5;
        }

        .iw-contextMenu li.iw-mDisable {
            opacity: 0.3;
            cursor: default;
        }

        .iw-mSelected {
            background-color: #F6F6F6;
        }

        .iw-cm-arrow-right {
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #000;
            position: absolute;
            right: 5px;
            top: 50%;
            margin-top: -5px;
        }

        .iw-mSelected > .iw-cm-arrow-right {
        }

        /*context menu css end */
    </style>
    @*<style type="text/css">
        @-webkit-keyframes load4 {
            0%,
            100% {
                box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            }
            12.5% {
                box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            25% {
                box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            37.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            50% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            62.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            }
            75% {
                box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            }
            87.5% {
                box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            }
        }

        @keyframes load4 {
            0%,
            100% {
                box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
            }
            12.5% {
                box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            25% {
                box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
            }
            37.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            50% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
            }
            62.5% {
                box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
            }
            75% {
                box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
            }
            87.5% {
                box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
            }
        }</style>*@
    <style type="text/css">
        /* This is not a zero-length file! */
    </style>
</head>
<body class="">
    <div id="dhtmlwindowholder"><span style="display:none">.</span></div>
    <link href="~/Content/fontawesome-all.min.css" type="text/css" rel="stylesheet" />

    <div class="div_body" id="div_body_1" style="width:100%; display:inline-table">
        <div id="div_body_noidung">
            <div id="tren_khungchinh">
                <div id="tren_khungchinh_inner_div">

                </div>
            </div>
            <div id="main_panel">
                <div class="main_panel_margin">
                    <div id="container3">
                        <div id="container2">
                            <div id="container1">
                                <div id="cot_trai">
                                    <div id="cot_trai_inner_div">
                                    </div>
                                </div>
                                <div id="cot_giua">
                                    <div id="cot_giua_inner_div">
                                        <div class="boxgiua_wrap">
                                            <div class="header_layer_1">
                                                <div class="header_layer_2">
                                                    <h1 class="header">
                                                        <span>
                                                            <label>VAY VỐN NGÂN HÀNG THEO BẢNG LƯƠNG</label>
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="boxgiua_tren">
                                                <span>
                                                    <label></label>
                                                </span>
                                            </div>
                                            <div class="box_content_layer_l">
                                                <div class="box_content_layer_2">
                                                    <div class="boxgiua">
                                                        <div class="boxgiua_lop1">
                                                            <div class="boxgiua_lop2">
                                                                <p>&nbsp;</p>
                                                                <p>
                                                                    <span style="font-size: large;">
                                                                        Ngân hàng VCB triển khai chương trình vay tín chấp thẹo bảng nhằm hỗ trợ cho các đối tượng đang đi làm hưởng lương tại
                                                                        các cơ quan nhà nước và các công ty tư nhân, các doanh nghiệp nước ngoài, vvv,&nbsp;
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">
                                                                        <a href="http://vaytheobangluong.com/sp/vay-von-ngan-hang-vay-von-ngan-hang/9/v=0/vay-theo-luong.html" data-mce-href="http://vaytheobangluong.com/sp/vay-von-ngan-hang-vay-von-ngan-hang/9/v=0/vay-theo-luong.html">
                                                                            <br>
                                                                        </a>
                                                                        <img style="display: block; margin-left: auto; margin-right: auto;" src="~/Content/Image/imagesb.jpg"
                                                                             alt="imagesb" width="461" height="167" data-mce-src="~/Content/Image/imagesb.jpg">
                                                                        <a href="http://vaytheobangluong.com/sp/vay-von-ngan-hang-vay-von-ngan-hang/9/v=0/vay-theo-luong.html" data-mce-href="http://vaytheobangluong.com/sp/vay-von-ngan-hang-vay-von-ngan-hang/9/v=0/vay-theo-luong.html">
                                                                            <br>
                                                                            <br>
                                                                        </a>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">
                                                                        Chương trình đưa ra để phục vụ các khách hàng đang đi làm hưởng lương tại các cơ quan nhà nước ( trường học, trung tâm
                                                                        y tế vvv ), các công ty tư nhân ( Công Ty TNHH, Công Ty CP, Doanh Nghiệp vvv ) có mức thu nhập ổn định, Ngân hàng có
                                                                        thể hỗ trợ cho khách hàng vay tiêu dùng từ 10 đến 24 lần thu nhập của khách hàng và với mức lãi suất từ 0,8% - 1,8% tùy
                                                                        thuộc vào điều kiện của các khách hàng. Đi bên cạnh hỗ trợ vay tiêu dùng theo bảng lương thì Ngân Hàng chúng sẽ hỗ trợ
                                                                        cho khách hàng bảo mật khoản vay này cho khách hàng với gia đình và cơ quan của khách hàng đang làm việc.
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <strong>
                                                                        <span style="font-size: 14pt;">&nbsp;Những&nbsp;</span>
                                                                        <span style="font-size: large;">Ưu điểm khi vay tiêu dùng theo bảng lương :</span>
                                                                    </strong>
                                                                </p>
                                                                <p>
                                                                    <strong>
                                                                        <span style="font-size: large;">
                                                                            <img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="~/Content/Image/15124764_vaytiudng.jpg"
                                                                                 alt="15124764_vaytiudng" width="538" height="158" data-mce-src="~/Content/Image/15124764_vaytiudng.jpg">
                                                                        </span>
                                                                    </strong>
                                                                </p>
                                                                <ul>
                                                                    <li>
                                                                        <span style="font-size: large;">Khoản vay từ 10-600tr tùy thuộc vào điều kiện của khách hàng</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Lãi xuất chỉ từ 0,8% - 1,8% ( tùy thuộc vào điều kiện của khách hàng )</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Thời hạn từ 12 - 48 tháng</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Giải ngân nhanh chóng 24h - 48h làm việc&nbsp;</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Không cần bảo lãnh từ phí cơ quan</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Bảo mật khoản vay tuyệt đối gia đình và cơ quan</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Không mất phí, hỗ trợ tư vấn và thu hồ sơ tận nơi</span>
                                                                    </li>
                                                                </ul>
                                                                <p>
                                                                    <span style="font-size: large;">
                                                                        <strong>Mô Phỏng Khoản Vay:</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">
                                                                        <strong>-&gt;&nbsp;</strong>Khách hàng đăng ký khoản vay 100tr trong thời gian vay là 24 tháng và áp dụng với lãi suất 0,8%/tháng
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">1, Số tiền lãi phải trả của 100tr hàng tháng là: 800.000đ</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">2, Số tiền gốc của 100tr/ 24 tháng là : 4.166.666đ</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: large;">3, Tổng số tiền khách hàng phải đóng là :4.966.666đ</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 10pt;">
                                                                        <strong>(KHÁCH HÀNG CÓ THỂ TRẢ LẠI KHOẢN VAY HOẶC THANH TOÁN TRƯỚC KHOẢN VAY NÀY SAU 90 NGÀY HOÀN TẤT HỒ SƠ VAY)</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">+) Phí phạt khi trả lại hợp đồng: </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">- Năm 1: 4% trên dư nợ gốc còn lại. </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">- Năm 2: 3% trên dư nợ gốc còn lại. </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">- Năm 3: 1% trên khoản dư nợ gốc còn lại</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">-&nbsp;Năm 4: là 0%&nbsp;</span>
                                                                </p>
                                                                <p>&nbsp;</p>
                                                                <p>
                                                                    <strong style="font-size: large;">Điều kiện cần khi vay vốn:</strong>
                                                                </p>
                                                                <ul>
                                                                    <li>
                                                                        <span style="font-size: large;">Khách hàng đi làm hưởng lương ổn định từ 3 tháng trở lên&nbsp;</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Khách hàng Có hợp đồng lao động, Quyết định công tác , Quyết định nâng lương, Xác nhận công tác vvv</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Tổng thu&nbsp;nhập hàng tháng từ 3,5 triệu trở lên</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">
                                                                            Thu nhập của khách hàng có thể chứng minh bằng bảng lương, xác nhận lương, sao kê lương tại ngân hàng hoặc sao kê trên
                                                                            internet banking trên điện thọa hoặc máy tính
                                                                        </span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Sống và làm viện tại: HÀ NỘI, HƯNG YÊN, HẢI DƯƠNG, BẮC NINH</span>
                                                                    </li>
                                                                    <li>
                                                                        <span style="font-size: large;">Độ tuổi có thể làm hồ sơ vay vốn ( Nam 21t - 60t / Nữ 21t - 55t )</span>
                                                                        <br>
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                                <p>
                                                                    <span style="font-size: 12pt;">
                                                                        <strong>NHỮNG GIẤY TỜ CẦN THIẾT KHI LÀM HỒ SƠ VAY VỐN&nbsp;</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 18.6667px;">
                                                                        <em>Lưu ý : ( Tất cả giấy tờ chỉ cần bản photô không cần công chứng )</em>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">1, Chứng minh nhân dân hoặc sổ hộ chiếu&nbsp;</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">2, Sổ hộ khẩu&nbsp;</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">3, Hợp đồng lao động hoặc Quyết định công tác, Quyết định nâng lương, Xác nhận công tác vvv.</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">4, Xác nhận lương hoặc Sao kê lương tại ngân hàng, Sao kê trên internet banking trên điện thạo hoặc máy tính</span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">5, Thẻ bảo hiểm y tế nếu có&nbsp;</span>
                                                                </p>
                                                                <p>&nbsp;</p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">
                                                                        Mọi chi tiết xin liên hệ ngay cho phòng tín dụng ngân hàng để được tư vấn và hỗ trợ làm hồ sơ vay vốn nhanh chóng tại ngân
                                                                        hàng chúng tôi
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">
                                                                        <strong>CHUYÊN VIÊN TÍN DỤNG</strong>
                                                                    </span>
                                                                    <br>
                                                                    <span style="font-size: 14pt;">
                                                                        <strong>Mr. HOÀNG</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">
                                                                        <strong>Tel: 01664922970</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">
                                                                        <strong>Địa chỉ: Số 9, Duy Tân, P. Dịch Vọng, Q.&nbsp; Cầu Giấy - Hà Nội.</strong>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">
                                                                        <em>
                                                                            <strong>
                                                                                <span style="color: #ff0000;">
                                                                                    Hoặc đăng ký thông tin khách hàng theo mẫu sau để chúng tôi có thể tư vấn và hỗ trợ làm hồ sơ vay vốn cho bạn sớm
                                                                                    nhất:
                                                                                </span>
                                                                            </strong>
                                                                        </em>
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <span style="font-size: 14pt;">&nbsp;</span>
                                                                </p>
                                                                <p>
                                                                    <span contenteditable="false" data-mce-object="iframe" class="mce-preview-object mce-object-iframe" data-mce-p-data-mce-fragment="1"
                                                                          data-mce-p-data-mce-src="https://docs.google.com/forms/d/13ufJYDwPxEF0J4qIPhEAKuXF0X7_f2TDAdTGY7tMYgg/viewform?edit_requested=true"
                                                                          data-mce-p-marginheight="0" data-mce-p-marginwidth="0" data-mce-p-frameborder="0" data-mce-p-src="https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true"
                                                                          data-mce-html="%u0110ang%20ta%u0309i...">
                                                                        <iframe src="./VAY VỐN NGÂN HÀNG THEO BẢNG LƯƠNG_files/viewform.html" width="100%" height="900" frameborder="0"></iframe>
                                                                        <span class="mce-shim"></span>
                                                                    </span>
                                                                </p>
                                                                <div style="clear:both;height:1px;overflow:hidden">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer_layer_l">
                                                <div class="footer_layer_2">
                                                    <div class="boxgiua_chan">
                                                        <span>
                                                            <label></label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="boxgiua_wrap phanhoi_box">
                                            <div class="header_layer_1">
                                                <div class="header_layer_2">
                                                    <h2 class="header">
                                                        <span>
                                                            <label>Phản hồi</label>
                                                        </span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="boxgiua_tren">
                                                <span>
                                                    <label></label>
                                                </span>
                                            </div>
                                            <div class="box_content_layer_l">
                                                <div class="box_content_layer_2">
                                                    <div class="boxgiua">
                                                        <div class="boxgiua_lop1">
                                                            <div class="boxgiua_lop2">
                                                                <script type="text/javascript" src="./VAY VỐN NGÂN HÀNG THEO BẢNG LƯƠNG_files/tinymce.js.download"></script>
                                                                <script type="text/javascript">
                                                                    tinymce.init({
                                                                        selector: '.mce_1editor',
                                                                        autosave_ask_before_unload: false,
                                                                        theme: 'modern',
                                                                        document_base_url: "/",
                                                                        extended_valid_elements : "*[*]",

                                                                        remove_script_host : false,
                                                                        plugins: [
                                                                          'autosave advlist autolink lists link image charmap print preview hr anchor pagebreak',
                                                                          'searchreplace wordcount visualblocks visualchars code fullscreen',
                                                                          'insertdatetime media nonbreaking save table contextmenu directionality',
                                                                          'emoticons template paste textcolor colorpicker imagetools codesample toc help'
                                                                        ],
                                                                        toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | formatselect fontselect fontsizeselect ',
                                                                        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help | link image,',
                                                                        image_advtab: true
                                                                      ,

                                                                        setup : function(ed)
                                                                        {
                                                                            ed.addButton('chenanh',
                                                                            {
                                                                                title : 'Chèn ảnh',
                                                                                text: 'Chèn ảnh',
                                                                                icon : ' mce-ico mce-i-image ',
                                                                                onclick : function()
                                                                                {
                                                                                    open_asset('assets',tinyMCE.activeEditor.id,'image','',ed.selection.getContent());
                                                                                }
                                                                            });

                                                                            ed.addButton('chenfile',
                                                                            {
                                                                                title : 'Chèn file tài liệu',
                                                                                text: 'Chèn file, tài liệu',
                                                                                icon : ' mce-ico mce-i-newdocument ',
                                                                                onclick : function()
                                                                                {
                                                                                    open_asset('assets',tinyMCE.activeEditor.id,'file','',ed.selection.getContent());
                                                                                }
                                                                            });
                                                                        }
                                                                    });
                                                                </script>
                                                                <script type="text/javascript">

                                                                    function setup_phanhoi() {
                                                                        tinymce.EditorManager.execCommand('mceToggleEditor', true, 'des');

                                                                    }


                                                                </script>
                                                                <div class="gianhang_hoidap">
                                                                    Nội dung
                                                                    <form method="post" action="http://nganhangngoaithuong.com/somepage" style="margin:0px">
                                                                        <textarea onclick="javascript:setup_phanhoi();" id="des" name="des" class="mcePhanhoi" style="width:99%"></textarea>
                                                                    </form>
                                                                    <div class="cong_cu">

                                                                        <table class="bang_gui_phan_hoi" width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="150">Người gửi / điện thoại</td>
                                                                                    <td><input type="text" id="nguoigui" class="textbox"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Email</td>
                                                                                    <td><input type="text" id="email" class="textbox"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td><a href="http://nganhangngoaithuong.com/dangnhap.html">Bạn nên đăng nhập để gửi phản hồi</a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <input id="nut_gui_phan_hoi1" type="button" onclick="gianhang_gui_comment(&#39;5&#39;,&#39;558783&#39;,&#39;tin&#39;)" value="Gửi phản hồi">

                                                                        <div id="ket_qua_phanhoi"></div>
                                                                        <div id="nut_ket_qua_tin_nhan"></div>
                                                                    </div>
                                                                    <div class="phan_hoi_block">
                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">05-06-2018 20:46:13</span><a href="javascript:">0965552239</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Vay tiêu dùng</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;51&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">17-05-2018 07:35:14</span><a href="javascript:">0868486991</a>  </h4>
                                                                                <p class="tom_tat"></p><p>vay tiêu dùng</p><p><br data-mce-bogus="1"></p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;49&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">13-05-2018 18:46:35</span><a href="javascript:">0916076088</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Vay tiêu dùng,</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;48&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">12-05-2018 22:24:14</span><a href="javascript:">01693949557</a>  </h4>
                                                                                <p class="tom_tat"></p><p><strong>Mình muốn tư vấn khoản vay 50~60tr. Mong Ad tư vấn ạ</strong></p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;47&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">10-05-2018 22:46:40</span><a href="javascript:">0966468829</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Minh muốn tư vấn khỏan vay 50tr</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;46&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">05-05-2018 20:15:45</span><a href="javascript:">01672840348</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Mình đang làm ở cty điện lạnh bình minh. Muốn vay 30tr trả góp hàng tháng mà không có bảo hiểm có vay dc k. Mong ad tư vấn giúp</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;45&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">02-05-2018 18:32:49</span><a href="javascript:">01659975435</a>  </h4>
                                                                                <p class="tom_tat"></p><p>e sn 1998 đã đủ tuổi vay chưa ạ</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;44&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">23-04-2018 10:02:06</span><a href="javascript:">0979377446</a>  </h4>
                                                                                <p class="tom_tat"></p><p><strong></strong>e đang đứng tên vay thế chấp ở ngân hàng nông nghiệp thì e có dc vay tiêu dùng nữa k. Tất cả điều kiện e đều có.</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;43&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">05-03-2018 15:50:31</span><a href="javascript:">chung</a>  </h4>
                                                                                <p class="tom_tat"></p><p>vay tiêu dùng</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;42&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">30-12-2017 22:34:43</span><a href="javascript:">01688862874</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Em đang làm việc tại mapltree bắc ninh.em có bảng lương của cty.giơ em muốn vay 80tr .có được ko ak</p><p>mong ac tư vấn</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;34&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">03-10-2017 07:07:18</span><a href="javascript:">01664386768</a>  </h4>
                                                                                <p class="tom_tat"></p><p><br data-mce-bogus="1"></p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;26&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">02-10-2017 04:14:18</span><a href="javascript:">0965144671</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Cho e hỏi. K có hợp đồng lao động nhưng có tất cả các giấy tờ khác có đc &nbsp;vay k vậy . Cám ơn&nbsp;</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;25&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>


                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">25-09-2017 23:44:15</span><a href="javascript:">0979689483</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Minh đang làm nhà lên muốn vay 100t .mong a chị tư vấn</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;24&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>


                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">12-01-2017 20:00:34</span><a href="javascript:">09853635555</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Mình bên công an trả lương qua ngân hàng muốn vay 150t có đc ko ? Đang học nâng cao tại học viện cs hà nội . Nhà ở bắc giang</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;18&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">13-12-2016 19:26:10</span><a href="javascript:">0971319498</a>  </h4>
                                                                                <p class="tom_tat"></p><p>minh dang lam viec tai CONG TY CO PHAN THUC PHAM MINH DUONG di trac hoai duc ha noi , nhan nhan luong bang tien mat minh muon vay 40000000-50000000 thi co duoc khong</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;16&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">06-12-2016 11:16:26</span><a href="javascript:">01689977081</a>  </h4>
                                                                                <p class="tom_tat"></p><p>e ơr Hn, luong tra ck e muon vay khoang200trieu nho ac tu van ah</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;14&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>

                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">01-12-2016 15:36:51</span><a href="javascript:">01693831898</a>  </h4>
                                                                                <p class="tom_tat"></p><p>hỏi vay tièn</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;12&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="phan_chia">&nbsp;</div>
                                                                        <div>
                                                                            <div class="div_pic" style="float:left"><a href="javascript:alert(&#39;Được gửi bởi khách ghé thăm&#39;);"><img src="~/Content/Image/logo_default_050.gif"></a></div>
                                                                            <div class="noi_dung">
                                                                                <h4 class="tieu_de"><span class="date_time_hoi_dap">27-11-2016 19:31:04</span><a href="javascript:">0974748099</a>  </h4>
                                                                                <p class="tom_tat"></p><p>Mình đang làm việc ở 48 Ngọc Hồi, Công ty cổ phần xây dựng số 1 Hà Nội , nhận trả lương tiền mặt . Mình muốn vay một khoản tiền 30000000-40000000 , thủ tục hồ sơ thế nào giúp bảo mình nhé!</p><p></p>
                                                                                <a class="nut_tra_loi" href="javascript:gianhang_gui_traloi(&#39;11&#39;,&#39;558783&#39;,&#39;tin&#39;)"> Trả lời </a>
                                                                            </div>
                                                                            <br class="clear1px">
                                                                        </div>
                                                                        <div class="">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer_layer_l">
                                                <div class="footer_layer_2">
                                                    <div class="boxgiua_chan">
                                                        <span>
                                                            <label></label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>try{tinyMCE.get(ele).selection.setContent('');}catch(e){}</script>
                                        <div id="mystickytooltip" class="stickytooltip">
                                            <div style="padding:5px">

                                            </div>
                                            <div class="stickystatus"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cot_phai">
                                    <div id="cot_phai_inner_div">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="common_echo" style="top: 5568px;"></div>
        <div style="display:none" id="fixloi"></div>
        <div align="right" style="width: 100px; overflow: hidden; position: absolute; left: 92.5px; top: 5668px;" id="divAdLeft" hidden="" iuwogio="">
        </div>
        <div style="width: 100px; position: absolute; left: 1160.5px; top: 5668px;" id="divAdRight" hidden="" iuwogio="">
        </div>
        <div id="divFixLeft" style="position:fixed; bottom:5px; left: 5px; z-index: 999">
        </div>
        <div id="divFixRight" style="position:fixed; bottom:5px; right: 5px; z-index: 999">
        </div>
        <script language="javascript">

            var adswidth=100;
            var adstop=100;
            var bodywidth=950;
        </script>
        <script type="text/javascript">

            $(document).ready(function() {
                $("img.lazy").unveil();
            });
            ShowAdDiv();

        </script>
        <script language="javascript">
            if(document.body.clientWidth<=(1050+100))
            {
                document.getElementById('divFixLeft').style.display="none";
                document.getElementById('divFixRight').style.display="none";
            }
            if($.cookie('congtacvien')!=null && $.cookie('congtacvien')!='')
            {
                LoadXmlDoc('modules/gianhang_thanhvien/loadcongtacvien.php?id='+$.cookie('congtacvien'));
            }

        </script>
        <script type="text/javascript">

            function nocontext(e) {
                var clickedTag = (e==null) ? event.srcElement.tagName : e.target.tagName;
                if (clickedTag == "IMG") {
                    return false;
                }
            }
            document.oncontextmenu = nocontext;

        </script>
        <style>
            body {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>
    </div><div id="hintbox"></div><div class="highslide-container" style="padding: 0px; border: none; margin: 0px; position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1001; direction: ltr;"><a class="highslide-loading" title="Click to cancel" href="javascript:;" style="position: absolute; top: -9999px; opacity: 0.75; z-index: 1;">Loading...</a><div style="display: none;"></div><div class="highslide-viewport highslide-viewport-size" style="padding: 0px; border: none; margin: 0px; visibility: hidden;"></div><table cellspacing="0" style="padding: 0px; border: none; margin: 0px; visibility: hidden; position: absolute; border-collapse: collapse; width: 0px;"><tbody style="padding: 0px; border: none; margin: 0px;"><tr style="padding: 0px; border: none; margin: 0px; height: auto;"><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px 0px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -40px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) -20px 0px; height: 20px; width: 20px;"></td></tr><tr style="padding: 0px; border: none; margin: 0px; height: auto;"><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -80px; height: 20px; width: 20px;"></td><td class="glossy-dark highslide-outline" style="padding: 0px; border: none; margin: 0px; position: relative;"></td><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) -20px -80px; height: 20px; width: 20px;"></td></tr><tr style="padding: 0px; border: none; margin: 0px; height: auto;"><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -20px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) 0px -60px; height: 20px; width: 20px;"></td><td style="padding: 0px; border: none; margin: 0px; line-height: 0; font-size: 0px; background: url(&quot;http://nganhangngoaithuong.com/java/highslide/highslide-4.1.9/highslide/graphics/outlines/glossy-dark.png&quot;) -20px -20px; height: 20px; width: 20px;"></td></tr></tbody></table></div>
</body>
</html>