﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/nganhang.css" rel="stylesheet" />
    <script src="~/Scripts/java.js" type="text/javascript"></script>
    <style type="text/css">
        .highslide img {
            cursor: url(java/highslide/highslide-4.1.9/highslide/graphics/zoomin.cur), pointer !important;
        }

        .highslide-viewport-size {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
</head>
<body>
    <style type="text/css">
        #container2 {
            right: 0px; /* Ung voi do rong cot 3*/
        }

        #container1 {
            right: 1050px; /* Ung voi do rong cot 2*/
        }

        #cot_trai {
            width: 0px;
            left: 1055px;
        }

        #cot_giua {
            width: 1040px; /* giam rong giua 2 lan padding 2 ben */
            left: 1055px; /* cong them 1 lan padding cho cot giua de co padding trai - giua */
        }

        #cot_phai {
            width: 0px;
            left: 1065px; /* padding 2 lan padding de bu giam */
        }

        .mceTomtat {
            width: 1040px;
        }
    </style>
    <div id="main_panel">
        <div id="vitri_tren">
            <div class="bocuc" id="bocuc_3">
                <div class="banner_ngang">
                    <div>
                        <img width="100%" alt="banner" src="~/Content/Image/banner.png" />
                    </div>
                </div>
            </div>
            <div class="bocuc" id="bocuc_18">
                <div class="menu_ngang_wrap">
                    <div id="menu_ngang_tuychinh" class="menu_ngang module_id_985">
                        <ul class="dropdown">

                            <li class="menu_ngang_home">
                                <a class="fa fa-home" href="http://nganhangngoaithuong.com/"></a>
                            </li>


                            <li>
                                <a href="http://nganhangngoaithuong.com/">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/12/vay-tin-chap.html">VAY TÍN CHẤP</a>
                            </li>
                            <li>
                                <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/10/chuong-trinh-danh-cho-giao-vien-giang-vien.html">VAY THẾ CHẤP</a>
                            </li>
                            <li>
                                <a href="http://nganhangngoaithuong.com/bvct/chi-tiet/13/chuong-trinh-danh-cho-bac-sy-y-ta-dieu-duong.html">KHÁCH HÀNG VIP</a>
                            </li>
                            <li>
                                <a href="https://docs.google.com/forms/d/1ggnKWnzUQnQ86VQuqsOrz8VSa3w6weMExok8p3vQlf0/viewform?edit_requested=true">ĐĂNG KÝ TRỰC TUYẾN</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*body phần chung*@
    <div class="container body-content">
        @RenderBody()
        <hr />

        @*chân footer*@
        <div style="clear:both ">
            <div>
                <div class="bocuc " id="bocuc_9 ">
                    <div class="duoi_cung_website ">
                        <div class="duoi_cung_website_inner
                                                                                                ">
                            <center>
                                <h1><br /></h1><p style="text-align: center;
                                                                                                " data-mce-style="text-align: center;
                                                                                                ">Hệ thống hỗ trợ làm thủ tục cho vay tín chấp uy tín và hiệu quả nhất. Hỗ trợ khách hàng làm hồ sơ vay tín chấp, vay tiêu dùng, vay thế chấp.<br /></p><p style="text-align: center;
                                                                                                " data-mce-style="text-align: center;
                                                                                                ">BẢO MẬT - NHANH CHÓNG - MIỄN PHÍ LÀM HỒ SƠ</p><p style="text-align: center;
                                                                                                " data-mce-style="text-align: center;
                                                                                                "><strong>KÊNH HỖ TRỢ VAY VỐN TIÊU DÙNG CÁ NHÂN:</strong></p><p style="text-align: center;
                                                                                                " data-mce-style="text-align: center;
                                                                                                ">
                                    <span style="color: rgb(255, 204, 0); font-size:
                                                                                                12pt; " data-mce-style="color:
                                                                                                #ffcc00; font-size: 12pt;
                                                                                                "><strong>NHÂN VIÊN TƯ VẤN 24/24 : Mr. Hoàng 01664922970</strong></span>
                                </p><p style="text-align: center;
                                                                                                " data-mce-style="text-align: center; ">Điều khoản sử dụng l Bảo mật thông tin khách hàngCopyright&nbsp;©&nbsp;2013 Ngân hàng TMCP Ngoại Thương Vietcombank .</p>
                            </center><center></center><center></center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
